extends base

block body
    form(method="post")
        input(type="text", name="text", placeholder="vem fan bryr sig?...")
        input(type="submit")
    button(value="refresh", onclick="location.reload()")
    ul
        each val in submits
            +submit(val.text)